!!!
%html
    %head
        %meta{'charset':'utf-8'}
        %meta{'http-equiv':'X-UA-Compatible','content':'IE=edge'}
        %meta{'name':'viewport','content':'width=device-width, initial-scale=1'}
        %title Van de Graaf Genealogy

        %link{'href':'https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css','rel':'stylesheet'}
        %script{'src':'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}
        %script{'src':'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js'}
        %script{'src':'https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'}
        %script{'src':'http://jsplumbtoolkit.com/lib/jquery.ui.touch-punch.min.js'}
        %script{'src':'http://jsplumbtoolkit.com/demo/js/jquery.jsPlumb-1.5.5-min.js'}
        %link{'href':'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css','rel':'stylesheet'}
        %link{'href':'./css/default.css','rel':'stylesheet'}

        <!--[if lt IE 9]>
          %script{'src':'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
          %script{'src':'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'}
        <![endif]-->

    %body
        .container
            %h1 Foobar
            <div class="demo chart-demo" id="chart-demo">
                <div class="window" id="chartWindow1">window one</div>
                <div class="window" id="chartWindow2">window two</div>
                <div class="window" id="chartWindow3">window three</div>
                <div class="window" id="chartWindow4">window four</div>
                <div class="window" id="chartWindow5">window five</div>
                <div class="window" id="chartWindow6">window six</div>
            </div>
            %script{'src':'./javascript/family.js'}